<h1><%= @question.id %>. <%= @question.title %></h1>

<p><%= @question.content %></p>

<!-- Add an Answer button here to the /answers/new form. -->
<a href="/questions/<%= @question.id %>/answers/new">Add an Answer</a>

<a href="/questions/<%= @question.id %>/edit">Edit</a>
